@let chat = currentChat();
@if (chat) {
	<div class="chat-header">
		<h3>Chat with: {{chat.reciever}}</h3>
		@if ((chat.status$ | async) === chatStatus.Typing) {
			<span>Typing...</span>
		}
	</div>
	<div class="messages">
		@let messages = chat.messages$ | async;
		@for (message of messages; track message.id) {
			<mat-card class="message" [ngClass]="{'my-own': message.sender === userId}">
				<mat-card-content>
					<p>{{ message.content }}</p>
					<a class="sender" href="#" (click)="onSelectChat(message.sender)">{{ message.sender }}</a>
				</mat-card-content>
			</mat-card>
		}
	</div>
	<form class="input-container">
		<mat-form-field appearance="outline">
			<mat-label>Message</mat-label>
			<input
				matInput
				placeholder="Your message to the world:"
				[formControl]="form"
			>
		</mat-form-field>
		<button mat-flat-button (click)="onSendMessage(chat.reciever)">Send</button>
	</form>
}
