<mat-toolbar>
	<button mat-icon-button (click)="drawer.toggle()">
		<mat-icon>menu</mat-icon>
	</button>
	<span>BotHelpChat</span>
	<span class="spacer"></span>
	<app-user-info-mock class="mobile-only" [userName]="userName"/>
</mat-toolbar>
<mat-drawer-container [hasBackdrop]="false">
	@let mode =( drawerMode$ | async) || 'side';
	<mat-drawer #drawer [mode]="mode" [opened]="true">
		<ng-content select="[sidebar]"></ng-content>
	</mat-drawer>
	<mat-drawer-content>
		<ng-content select="[chat]"></ng-content>
	</mat-drawer-content>
</mat-drawer-container>
<footer></footer>
