:host {
	display: flex;
	gap: 20px;
	padding: 8px;
	flex-direction: column;
}

mat-card {
	width: 100%;
	cursor: pointer;
}

mat-card-subtitle {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
